

<section id="sectionIntro" class="parallax">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">

            <div class="textIntro">
                <div class="hi">
                    <h1>Pratik Nellutla</h1>
                    <span>Software Engineer. Full-Stack Developer. Business Analyst. </span><br>
                    <a href="#sectionAbout" class="easing">
                        <img src="assets/images/arrow.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

