<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Academics</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>Northeastern University, Boston, MA, USA</h3>
                <p>August 2015 - June 2017</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Master's in Information Systems</h3>
                <!--<h4>GPA : 3.6/4 </h4>-->
                <p>Relevant Coursework: Application Engineering Development, Web Design, Web Tools and Development</p>
                <p>Algorithms and Data Structures, User Experience and Desing Testing, Database Design and Management, Big Data</p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>Jawaharlal Nehru Technological University, India </h3>
                <p>August 2006 - May 2010</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right">
                <h3>Bachelor's in Electronics and Communication Engineering</h3>
                <!--<h4>GPA : 3.7/4 </h4>-->
                <p>Relevant Coursework: C, C++</p>

            </div>

        </div>




    </div>


</section>
