<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Past experience</h1>
            <span>Resume</span>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Staples Inc</h3>
                <p>May 2016 - Dec 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Software Engineer Intern</h3>
                <p>Received certificate of appreciation at the 24 Innovation event, for proposing and implementing a business
                    solution for Retail Store Monetization through an advertisement platform application using Spring MVC,
                    Hibernate and Restful APIs.</p>
                <p>Implemented Loss Prevention Application with interactive UX and open source software and frame work using
                    Angular2, Bootstrap, HTML 5 and CSS 3.</p>
               <p>Designed and developed an application for managing retail point of sale by reducing maintenance costs by 14%
                   using Angular2, Bootstrap and NodeJS</p>
                <p>Developed Java web project using Struts2 and DB2 for tracking and maintaining fraud customers list, resulting in
                    less manual efforts and custom scripts which increased teams efficiency.</p>

            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Oracle Corporation</h3>
                <p>Jan 2014 - Jul 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Software Engineer </h3>
                <p> Aided clients on techno functional areas of Core HR, Benefits and ETL- Data Loading and Extraction of data from Oracle Fusion HCM</p>
                <p> Developed and customized scripts in SQL, to perform specific functionalities by coordinating with Cloud Operations team, resulted in less turnaround time by increasing team efficiency by 33%. </p>
                <p> Received Exceptional Customer Service award 6 times, for providing out of box solutions on critical issues encountered by clients, during implementation of specific business models in Oracle Fusion.</p>
            </div>

        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>ADP</h3>
                <p>Aug 2010 - Jan 2014</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Senior Programmer/Business Analyst</h3>
                <p>Implemented PeopleSoft HCM product that provided Payroll, Benefits and HR using PeopleSoft products, SQR(SQL)programming and Reporting Tools. </p>
                <p>Implemented one-stop shop full stack application using Spring MVC, which resulted in less manual efforts for accessing all project tools and documents in one go.</p>
                <p>By inculcating usability activities and implementing an innovative idea of sorting paychecks, reduced manual efforts which resulted in savings upwards of $250,000 annually</p>
                <p>Worked in Java web project using J2EE and oracle SQL to provide a web portal for accessing payroll and benefits information.</p>
                <p>Received Rookie of the Year and On-Spot award 4 times for handling complex tasks and delivering high quality code during tight schedules.</p>
            </div>
        </div>

    </div>

</section>
