<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Projects</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>NGO Hub</h3>
                <p>Aug 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Northeastern University</h3>
                <p> Developed responsive web application prototype which allows all the NGOs to interact through a common platform and help individuals seeking for help </p>
                <p>	 This Common Channel for all NGOs helps to communicate effectively, efficiently
                    use resources and address emergencies or immediate needs. With primary
                    focus on Health, Education, Incident Reporting and Fund Raising.</p>
                <p> Implemented all aspects and best design principles of User Experience</p>
                <p><button class="button button2 " onclick=" window.open('http://1mh48x.axshare.com/#g=1&p=home','_blank')">Web   Application</button>

                    <button class="button button2" onclick=" window.open('http://l2cg95.axshare.com/#g=1&p=home','_blank')">Mobile Application</button></p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Job Portal</h3>
                <p>Oct 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed responsive web application to allow users to apply for the jobs. </p>
                <p>Implemented project using AngularJS, Spring MVC and Hibernate</p>
            </div>

        </div>


        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Social Network</h3>
                <p>Sept 2015 - Oct 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed a responsive social networking website using Bootstrap Framework
                </p>
                <p> Enhanced the website using HTML 5, CSS , JavaScript, JQuery and AJAX and designed the application using rich user interface controls by minimizing the number of clicks.
                </p>
            </div>
        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>IoT Based Smart Grid</h3>
                <p>Sept 2015 - Nov 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed an application using core java and Swing components, based on Singleton Ecosystem model.</p>
                <p>Implemented Data Analytics dash board, at all hierarchy levels to analyze energy efficiency.</p>
                <p>This project was aimed to develop a dynamic application, which would help in attaining efficient power management (Electricity) in smart cities.

                    By implementing this model (Holonic Architecture) in Smart Cities, we can efficiently handle electricity power distribution and the loss of power, and minimize the dependency of Non-renewable resources and finally achieve “Go Green” power generation and distribution.
                </p>
            </div>
        </div>

    </div>


</section>
