<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Projects</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>NGO Hub</h3>
                <p>Aug 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Northeastern University</h3>
                <p> Developed responsive web application prototype which allows all the NGOs to interact through a common platform and help individuals seeking for help </p>
                <p>	Common Channel for all NGOs to communicate effectively, efficiently
                    use resources and address emergencies or immediate needs. Primary
                    focus on Health, Education, Incident Reporting and Funds.</p>
                <p> Implemented all aspects and best design principles of User Experience</p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Job Portal</h3>
                <p>Oct 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed responsive web application to allow users to apply for the jobs. </p>
                <p>Implemented project using AngularJS, Spring MVC and Hibernate</p>
            </div>

        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Connectify</h3>
                <p>Sept 2015 - Oct 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed a responsive social networking website using Bootstrap Framework
                </p>
                <p> Enhanced the website using HTML 5, CSS , JavaScript, JQuery and AJAX and designed the application using rich user interface controls and developed it keeping user engagement techniques in mind.
                </p>
            </div>
        </div>

    </div>


</section>
